{% extends 'base.html' %}

{% block content %}

<!-- {% block content_header %}
{% endblock %} -->

<style type="text/css">
	.border-danger{
		background-color: yellow;
	}

	tr {
		border: 3px solid black;
	}
	td{
		text-align: center;
		font-family: Verdana;
		font-weight: bold;
	}


</style>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr style="text-align: center; background:#d0d3d4">
				<!-- <th>YT</th> -->
				<th style="border: 3px solid black;" colspan="2">CONDUCTED BY</th>
				<th style="border: 3px solid black;">STATUS</th>
				<!-- <th>CATEGORY</th> -->
				<th style="border: 3px solid black;">PRODUCT NAME</th>
				<!-- <th>UNIT</th> -->
				<th style="border: 3px solid black;">START DATE</th>
				<th style="border: 3px solid black;">END DATE</th>
				<!-- <th>DETAILS</th> -->
				<th style="border: 3px solid black;">DETAILS VIDEO</th>
				<!-- <th>LUCKY WINNER</th> -->
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td style="border:3px solid black;">
						{% if item.logo %}
							<img src="{{item.logo.url}}" alt="{{item.name}}" style="width: 100px;">
						{% else %}
							<span class="text-muted">No Cover</span>
						{% endif %}
					</td>
					<td style="border:3px solid black; text-align:center; vertical-align:middle">{{item.name}}</td>
					<td style="border:3px solid black; text-align:center; vertical-align:middle">{{item.status}}</td>
					<!-- <td>{{item.giveaways_category}}</td> -->
					<td style="border:3px solid black; text-align:center; vertical-align:middle">{{item.product_name}}</td>
					<!-- <td>{{item.unit}}</td> -->
					<td style="border:3px solid black; text-align:center; vertical-align:middle">{{item.start_date}}</td>
					<td style="border:3px solid black; text-align:center; vertical-align:middle">{{item.end_date}}</td>
					<!-- <td>{{item.details}}</td> -->
					<td style="border:3px solid black;"><iframe src="{{item.links}}" target="blank">VIDEO LINK</iframe></td>
					

					<!-- <td>{{item.winner_name}}</td> -->

					
					
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}