{% extends 'base.html' %}

{% block content %}

{% block content_header %}
{% endblock %}

<table class="table table-bordered">
	<thead>
		<tr style="text-align: center;">
			<th>#</th>
			<th>CONDUCTED BY</th>
			<th>STATUS</th>
			<th>CATEGORY</th>
			<th>PRODUCT NAME</th>
			<th>UNIT</th>
			<th>START DATE</th>
			<th>END DATE</th>
			<th>DETAILS</th>
			<th>LINKS</th>
			<th>LUCKY WINNER</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
			<tr>
				<td>
					{% if item.logo %}
						<img src="{{item.logo.url}}" alt="{{item.name}}" style="width: 100px;">
					{% else %}
						<span class="text-muted">No Cover</span>
					{% endif %}
				</td>
				<td class="col-sm-4">{{item.name}}</td>
				<td>{{item.status}}</td>
				<td>{{item.giveaways_category}}</td>
				<td>{{item.product_name}}</td>
				<td>{{item.unit}}</td>
				<td>{{item.start_date}}</td>
				<td>{{item.end_date}}</td>
				<td>{{item.details}}</td>
				<td>{{item.links}}</td>
				<td>{{item.winner_name}}</td>

				
				
			</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}